
body {
    background-color: #eef
}

.lines {
    margin: 5px;
    fill: #555;
}

.mutable {
    fill: rgb(248, 72, 72);
}

.row {
    height: 400px
}

.chinese-symbol {
    font-weight:bold;
}


.chinese-symbol {
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #444;
}